@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --clr-Rose: #f72585;
  --clr-fandango: #b5179e;
  --clr-grape: #7209b7;
  --clr-chrysler-blue: #560bad;
  --clr-dark-blue: #480ca8;
  --clr-zaffre: #3a0ca3;
  --clr-palatinate-blue: #3f37c9;
  --clr-neon-blue: #4361ee;
  --clr-chef-chaouen-blue: #4895ef;
  --clr-vivid-sky-blue: #4cc9f0;
  --clr-amaranth-purple: #b7094c;
  --clr-murrey: #a01a58;
  --clr-byzantium: #892b64;
  --clr-finn: #723c70;
  --clr-ultra-violet: #5c4d7d;
  --clr-yinmn-blue: #455e89;
  --clr-ucla-blue: #2e6f95;
  --clr-cerulean: #1780a1;
  --clr-blue-munsell: #0091ad;
  --clr-oxford-blue: #08090e;
  --clr-space-cadet: #1c2541;
  --clr-yinmn-blue: #3a506b;
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: var(--clr-blue-munsell);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* global css */

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-container {
  width: 75%;
  min-height: 83vh;
  /* border: 2px solid var(--clr-amaranth-purple); */
  border-radius: 15px;
  background-color: var(--clr-amaranth-purple);
  box-shadow: 6px 6px 20px var(--clr-amaranth-purple);
}

.image {
  max-width: 80%;
  margin: 0 auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* range design */
.range-slider {
  max-width: 38em;
  margin: 1rem auto;
  display: flex;
}

.range-slider .slider {
  width: 100%;
  height: 0.4em;
  outline: none;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 3px 3px 6px #000, inset 1px 1px #909090;
  cursor: pointer;
}

.range-slider.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
}

/* button container */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  cursor: pointer;
}

button {
  margin: 0.1rem 1.2rem;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: var(--clr-chef-chaouen-blue);
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 10px var(--clr-cerulean),
    5px 5px 10px var(--clr-chef-chaouen-blue),
    inset 5px 5px 10px var(--clr-cerulean),
    inset -5px -5px 10px var(--clr-chef-chaouen-blue);
  font-family: "Damion", cursive;
  border: none;
  font-size: 10px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

button:hover {
  box-shadow: -5px -5px 10px var(--clr-chef-chaouen-blue),
    5px 5px 10px var(--clr-neon-blue), inset 5px 5px 10px var(--clr-neon-blue),
    inset -5px -5px 10px var(--clr-chef-chaouen-blue);
  color: var(--clr-oxford-blue);
  transition: 500ms;
}

.play-pause {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.previous {
  border-top-left-radius: 100%;
}

.next {
  border-top-right-radius: 100%;
}

/* name container */
.title-container {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.4rem 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #cfcece;
}

/* mobile design */
@media screen and (min-width: 768px) {
  body {
    width: 40%;
    height: 100vh;
    margin: 0 auto;
  }

  .image {
    width: 70%;
  }
}
